#header {
	background: $c-theme-white;
	z-index: 1000;
}

#logo {
	color: $c-theme-black;
	font-weight: 600;
	height: 3rem;
	line-height: 3rem;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#footer {
	background: $c-light-tan;
	padding: 30px;
	display: none;
}

.unstyle {
	padding: 0;
	list-style: none;
}

[role="main"] {
	margin-top: $lineheight;
	display: block;
}


.splash {
	position: relative;
	width: 100%;
	background: #333;
	text-align: center;
	line-height: 0;
	margin-top: -$lineheight;
	> img {
		display: inline-block;
	}

	.splash-heading {
		padding: 2rem;
		background: rgba(black, 0.6);
		position: absolute;
		color: #fff;
		font-size: 2rem;
		top: 50%;
		right: 0;
		text-transform: uppercase;
		letter-spacing: .2em;
		box-shadow: 0 0 2px rgba(black, 0.4);
	}
}

.nav-style--a {
	position: relative;

	> a {
		display: block;
		line-height: 3rem;
		height: 3rem;
		background: $c-theme-white;
		text-align: center;
		color: $c-theme-black;
		text-decoration: none;
		font-weight: 300;
		text-transform: lowercase;
		letter-spacing: .1em;
		border-left: solid 0px $c-light-tan;
		&:hover, .active & {
			border-bottom: solid 2px $c-theme-black;
		}
	}
	&.active > a {
		border-bottom: solid 2px $c-theme-black;
	}
	&:last-of-type {
		border-right: solid 0px darken($c-theme-white, 10%);
	}
}


.nav-style--b {
	position: relative;

	> a {
		display: block;
		line-height: 3rem;
		height: 3rem;
		background: $c-theme-white;
		text-align: center;
		color: $c-theme-black;
		text-decoration: none;
		font-weight: 300;
		text-transform: lowercase;
		letter-spacing: .1em;
		border-left: solid 0px darken($c-theme-white, 10%);

		&:hover,  {
			border-bottom: solid 2px $c-theme-black;
		}
	}
	&.active > a {
		border-bottom: solid 2px $c-theme-black;
	}

	&:last-of-type {
		border-right: solid 0px darken($c-theme-white, 10%);
	}
}
