$breakpoint-desktop: 960px;
$site-header-height: 3rem;

$lineheight: 1.5em;

$c-dark-tan: #706257;
$c-medium-tan: #A49589;
$c-light-tan: #BFB0A4;
$c-theme-white: #FFF5F1;
$c-theme-black: #0F100D;
$c-white: #ffffff;
$c-black: #000000;